.main-content {
  width: 936px;
  margin: 20px 50px;
  padding-right: 15px;
}

h2{
    text-align: left;
    color: #006563;
    font-weight: 600;
    font-size: 25px;
}

.ordered-list {
  list-style-type: none;
}

.overview {
  text-align: left;
}

.table {
  text-align: left;
  font-size: 13px;
  margin-bottom: 0;
}

.watch-trailer {
  border-top: 1px solid #939598;
  border-bottom: 1px solid #939598;
  padding: 10px 0;
  text-align: center;
}

.watch-trailer a{
    font-size: 14px;
    font-weight: 600;
    color: #006563;
}


.watch-trailer a:hover{
    font-size: 14px;
    font-weight: 600;
    color: #CFAB7A;
    cursor: pointer;
    text-decoration: none;
}

.sinopsis {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}
